{{!-- <div class="mt-4">
  <h3>Add topping</h3>
  <form class="mt-4" method="post" action="/toppings/store">
      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name = "name">
      </div>
      <div class="form-group">
          <label for="type">Type</label>
          <input type="text" class="form-control" id="type" name = "type">
      </div>
      <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" name = "description">
      </div>
      <div class="form-group">
          <label for="price">price</label>
          <input type="text" class="form-control" id="price" name = "price">
      </div>
      <div class="form-group">
          <label for="image">Image</label>
          <input type="text" class="form-control" id="image" name = "image">
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div> --}}


<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>Thêm topping</h1>
			</div>
		</div>
	</div>
</div>
<h3 style='color: red;'>Thêm topping</h3>
<form method="post" action="/toppings/store" style='font-size: 20px;'>
  <div class="mb-3" style='margin-left: 2.5%;'>
    <label for="name" class="form-label">Tên</label>
    <input type="text" class="form-control" id="name" name="name" style='width: 60%;'>
  </div>
  <div class="mb-3" style='margin-left: 2.5%;'>
    <label for="description" class="form-label">Mô tả</label>
    <input type="text" class="form-control" id="description" name="description" style='width: 60%;'>
  </div>
  <div class="mb-3 form-check" style='margin-left: 0.5%;'>
    <label class="form-label" for="price">Giá</label>
    <input type="text" class="form-control" id="price" name="price" style='width: 60%;'>
  </div>
  <div class="mb-3 form-check" style='margin-left: 0.5%;'>
    <label class="form-label" for="image">Hình ảnh</label>
    <input type="text" class="form-control" id="image" name = "image" style='width: 60%;'>
  </div>
  <button type="submit" class="btn btn-primary" style='margin-left: 2.5%;'>Thêm</button>
</form>