<footer class='footer-area bg-f'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-3 col-md-6'>
                <h3>Về chúng tôi</h3>
                <p>Tin tức</p>
                <p>Cửa hàng</p>
                <p>Giới thiệu về Bwi's Hotpot</p>
            </div>
            <div class='col-lg-3 col-md-6'>
                <h3>Cửa hàng Bwi's Hotpot</h3>
                <ul class='list-inline f-social'>
                    <li class='list-inline-item'><a href='#'><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li class='list-inline-item'><a href='#'><i class="fa-brands fa-square-twitter"></i></a></li>
                    <li class='list-inline-item'><a href='#'><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li class='list-inline-item'><a href='#'><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class='list-inline-item'><a href='#'><i class="fa-brands fa-square-google-plus"></i></a></li>
                </ul>
            </div>
            <div class='col-lg-3 col-md-6'>
                <h3>Thông tin liên hệ</h3>
                <p class='lead'>450-451 Lê Văn Việt, phường Tăng Nhơn Phú A, quận 9, TP.</p>
                <p class='lead'><a href='#'>0902829510</a></p>
                <p><a href='#'> 6151071118@st.utc2.edu.vn</a></p>
            </div>
            <div class='col-lg-3 col-md-6'>
                <h3>Thời gian hoạt động</h3>
                <p><span class='text-color'>Thứ 2: </span>Closed</p>
                <p><span class='text-color'>Thứ 3-Thứ 6 :</span> 9:Am - 10PM</p>
                <p><span class='text-color'>Thứ 7 - Chủ nhật :</span> 4:PM - 10PM</p>
            </div>
        </div>
    </div>

</footer>