{{! <form method='POST' action='/user/register1'>
    <input
        class='form-control form-control-lg'
        type='text'
        placeholder='name'
        aria-label='.form-control-lg example'
        name='name'
    />
    <label for='inputPassword5' class='form-label'>Password</label>
    <input
        type='password'
        id='inputPassword5'
        class='form-control'
        aria-labelledby='passwordHelpBlock'
        name='password'
    />
    <div id='passwordHelpBlock' class='form-text'>
        Your password must be 8-20 characters long, contain letters and numbers,
        and must not contain spaces, special characters, or emoji.
    </div>
    <button type='submit'>Đăng kí</button>
</form> }}

<div class='imgLog'>
    <img
        src='https://res.cloudinary.com/dqx1h3eve/image/upload/v1688045436/bgLau_foml5a.png'
        alt=''
        style='filter:brightness(50%); width: 100%; height: 110vh;'
    />
</div>
<div class='bigLogIn'>
    <form method='POST' action='/user/register1'>
        <div class='logTitle'>
            <p class='logSign'>Đăng kí</p>
            <p style='font-size: 20px;'>Xin chào, hãy đăng kí tại đây !</p>
        </div>
        <div class='formLog'>
            <div class='form-gp'>
                <label for='exampleInputEmail1'>Username</label>
                <input type='text' name='name' placeholder='Enter username' />
            </div>
            <div class='form-gp'>
                <label for='exampleInputEmail1'>Email</label>
                <input type='email' name='email' placeholder='Enter email' />
            </div>
            <div class='form-gp'>
                <label for='exampleInputPassword1'>Password</label>
                <input
                    type='password'
                    name='password'
                    placeholder='Enter password'
                />
            </div>
            <button type='submit' class='btn btn-primary'>Submit</button>
            <div class='form-footer text-center mt-5 btn-text'>
                <p class='text-muted'>Bạn đã có tài khoản</p>
                <a href='/user/login' style='text-decoration: none;'>Đăng nhập</a>
            </div>
        </div>
    </form>
</div>